<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dharanaditya.cookbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.StepsListActivity" />
        <activity android:name=".ui.StepDetailActivity" />

        <receiver android:name=".ui.fragment.StepDetailFragment$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.RecipeContentProvider"
            android:authorities="com.example.dharanaditya.cookbook"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".RecipeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>

        <service
            android:name=".WidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>